@model Reservation
@{
    ViewData["Title"] = "NewReservation";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";


}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">
                    Yeni Rezervasyon Sayfası
                </h4>
                <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                        @* <li><a data-action="close"><i class="ft-x"></i></a></li> *@
                    </ul>
                </div>
            </div>
            <div class="card-content collapse show">
                <div class="card-body">
                    <p class="card-text">Web sitemiz Traversal üzerinde yer alan lokasyonlar içinde yeni bir rezervasyonu aşağıdaki panelden yapabilirsiniz. </p>
                    <form method="post">
                        @*     <div class="form-group">
                        @Html.Label("Lokasyon")
                        @Html.DropDownListFor(x => x.Destination, (List<SelectListItem>)ViewBag.v, new {@class="form-control" })
                        </div> *@
                        <div class="form-group">
                            @Html.Label("Kişi Sayısı")
                            <input type="text" asp-for="PersonCount" class="form-control" />
                        </div>
                        <div class="form-group">
                            @Html.Label("Tarih")
                            <input type="date" asp-for="ReservationDate" class="form-control" />
                        </div>
                        <div class="form-group">
                            @Html.Label("Varsa Eklemek İstedikleriniz")
                            <input type="text" asp-for="Description" class="form-control" />
                        </div>
                        <button class="btn btn-outline-success">Rezervasyon Yap</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- SweetAlert (Eski Versiyon) CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" rel="stylesheet" />


<!-- Popup içeriği -->
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h3>Hoşgeldiniz!</h3>
        <p>Sayfa yüklendiğinde açılan pop-up örneği.</p>
    </div>
</div>



<!-- SweetAlert (Eski Versiyon) JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>

<script>
    // Sayfa tamamen yüklendiğinde SweetAlert pop-up'ını göster
    document.addEventListener('DOMContentLoaded', function () {
        swal({
            title: "Hoşgeldiniz!",
            text: "Rezervasyonunuz başlangıçta onay bekliyor şekilde eklenecektir. <b>Sizinle iletişime geçeceğiz.</b>",
            type: "warning",  // success, error, warning, info gibi seçenekler
            confirmButtonText: "Tamam",
            html:true
        });
    });
</script>